<!DOCTYPE html>
<!--
Home/landing page, display messages, allow user to register or login
-->
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head th:replace="base :: stdHeaders">
    </head>

    <body>
        <div th:replace="base :: header">
        </div>
        <a href="/message" class="btn btn-primary" role="button">[New Message]</a>

        <div th:each="message : ${messages}">
            <div class="alert alert-info" role="alert">
                <h4 th:text="${message.content}"></h4>
                <div th:if="${message.imageUrl} != null">
                    <img th:src="${message.imageUrl}" />
                </div>
                <h6 th:inline="text">[[${message.fromUser}]]   ([[${message.postedDate}]])</h6>
            </div>
        </div>
        <div th:replace="base :: footer"></div>

    </body>
</html>